@import url("https://fonts.googleapis.com/css2?family=Lora:wght@300&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700,900");
.App {
  font-family: sans-serif;
  text-align: center;
}
:root {
  --lora: "Lora", serif;
}
body {
  background-color: black;
  color: white;
}
#genre-selector {
  padding: 1 rem;
}
.my-btn {
  height: 40px;
  text-align: center;
  background-color: #e50914;
  border-radius: 7px;
  color: white;
  padding: 6px 30px 6px 30px;
  cursor: pointer;
  position: relative;
  outline: 1px solid;
  outline-color: rgba(255, 166, 170, 0.5);
  transition: all 1250ms;
}

.my-btn:hover {
  box-shadow: inset 0 0 20px rgba(255, 166, 170, 0.5),
    0 0 20px rgba(255, 126, 133, 0.2);
  outline-color: rgba(255, 166, 170, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
#btn-gaps {
  margin: 1rem;
}
ul {
  list-style: none;
  padding-inline-start: 0rem;
}

li {
  margin: auto;
  margin-top: 20px;
  text-align: left;
  font-family: "Lora", serif;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #e50914;
  color: white;
}
.my-rating {
  display: inline-block;
  background-color: grey;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  font-family: Roboto;
  color: white;
}
/* @media only screen and (max-width: 520px) {
  .body {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
} */

